<div class="offer-detail-wrapper pt-[40px] h-full">
  <div
    class="relative overflow-auto offer-detail-container h-[90%] rounded shadow-2xl"
  >
    <div
      class="offer-detail-header font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky"
    >
      JOB DETAIL
    </div>
    <div class="px-auto">
      <div class="pt-4 lg:flex bg-white h-[100%]">
        <div class="pl-6 mds:w-full md:w-1/2">
          <dl class="lg:flex">
            <dt class="font-bold lg:w-1/5">Job Title</dt>
            <dd class="lg:w-4/5 ml-3">{{ job?.title }}</dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Start Date</dt>
            <dd class="lg:w-4/5 ml-3">{{ formatDate(job?.startDate) }}</dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Salary Range</dt>
            <dd class="lg:w-4/5 ml-3 text-justify">
              From
              <strong>{{ formatCurrency(job?.salaryMin) }}</strong>
              To
              <strong>{{ formatCurrency(job?.salaryMax) }}</strong>
            </dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Working Address</dt>
            <dd class="lg:w-4/5 ml-3">{{ job?.address }}</dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Status</dt>
            <dd class="lg:w-4/5 ml-3">{{ job?.status }}</dd>
          </dl>
        </div>
        <div class="pl-6 md:w-full lg:w-1/2">
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Skills</dt>
            <dd class="lg:w-4/5 ml-3">
              {{ job?.skills }}
            </dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">End Date</dt>
            <dd class="lg:w-4/5 ml-3">{{ formatDate(job?.endDate) }}</dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Benefits</dt>
            <dd class="lg:w-4/5 ml-3">
              {{ job?.benefits }}
            </dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Level</dt>
            <dd class="lg:w-4/5 ml-3">{{ job?.levels }}</dd>
          </dl>
          <dl class="lg:flex my-5">
            <dt class="font-bold lg:w-1/5">Description</dt>
            <dd class="lg:w-4/5 ml-3">{{ job?.description }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="flex justify-center gap-8 py-6">
      <button
        *ngIf="[roles.admin, roles.hr, roles.manager].includes(userRole)"
        mat-raised-button
        color="primary"
        (click)="redirectDetailItem()"
      >
        EDIT
      </button>
      <button (click)="handleCancel()" mat-raised-button color="warn">
        CANCEL
      </button>
    </div>
  </div>
</div>
