.sidebar {
  min-height: 100vh;
  width: 100%;
  padding: 6px 0;
  z-index: 100;
  background-color: #101826;
  transition: all 0.5s ease;
  color: #fff;
  font-weight: 500;
}
.sidebar #logo-detail > a > h5 {
  color: #dddddd;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar .nav-list {
  width: 170px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;
}
.sidebar .nav-list li {
  width: 100%;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  font-size: 13px;
}
.sidebar .nav-list li a {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 10px;
  cursor: pointer;
  background-color: transparent;

  position: relative;
  z-index: 100;
}

.sidebar .nav-list li:hover a {
  color: #0e2239;
}
/* effect */
.sidebar .nav-list li::after {
  background-color: white;
  content: "";
  position: absolute;
  width: 100%;
  height: 48px;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s ease;
  transform-origin: left;
  z-index: 10;
}
.sidebar .nav-list li:hover::after {
  transform: scaleX(1);
}
.active {
  background-color: white;
}
.sidebar .nav-list .active a {
  color: #101826;
}
.sidebar .nav-list a {
  color: #fff;
}
.sidebar .nav-list i {
  margin: 0 10px;
  font-size: 15px;
}
#logo-detail {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#logo-detail img {
  height: auto;
  width: 80%;
}
