<div class="sidebar">
    <div id="logo-detail" class="my-3">
        <img src="../../../../../assets/images/logo.jpg" alt="">
    </div>
    <ul class="nav-list ">
        <li *ngIf="[roles.admin, roles.hr, roles.manager].includes(userRole)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <a routerLink="/dashboard">
                <i class="lni lni-home"></i>
                <span class="link_name ">DASHBOARD</span>
            </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <a routerLink="/candidate">

                <i class="ri-group-2-line"></i>
                <span class="link_name">CANDIDATE</span>
            </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <a routerLink="/job">
                <i class="ri-suitcase-line"></i>
                <span class="link_name">JOB</span>
            </a>
        </li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <a routerLink="/schedule">
                <i class="fa-regular fa-comment"></i>
                <span class="link_name">INTERVIEW</span>
            </a>
        </li>
        <li *ngIf="[roles.admin, roles.hr, roles.manager].includes(userRole)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <a routerLink="/offer">
                <i class="ri-contract-line"></i>
                <span class="link_name">OFFER</span>
            </a>
        </li>
        <li *ngIf="[roles.admin].includes(userRole)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <a routerLink="/user">
                <i class="ri-user-3-line"></i>
                <span class="link_name">USER</span>
            </a>
        </li>
    </ul>
</div>