<div class="h-full  overflow-auto">
    <div class="flex w-full pt-2 items-center">
        <div class="w-5/6 searchbar flex gap-5">
            <div class="grid grid-cols-5 gap-4">
                <!-- Text search field -->
                <mat-form-field class="flex-grow col-span-3">
                    <mat-label>Search</mat-label>
                    <input matInput class="h-1" name="search" [(ngModel)]="textSearch" />
                </mat-form-field>

                <!-- Dropdown Interviewer field -->
                <mat-form-field>
                    <mat-label>Interviewer</mat-label>
                    <div class="flex">
                        <mat-chip-grid #chipGridInterviewer aria-label="Interviewer selection">
                            @for (interviewer of interviewers(); track $index) {
                            <mat-chip-row style="margin: 0;" (removed)="removeInterviewer(interviewer)">
                                {{interviewer}}
                                <button matChipRemove [attr.aria-label]="'remove ' + interviewer">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                            }
                            <input [placeholder]="isShowPlaceholderInterviewer? 'Select an interviewer' : ''"
                                #interviewerInput [matChipInputFor]="chipGridInterviewer"
                                [matAutocomplete]="autoInterviewer"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
                        </mat-chip-grid>
                    </div>
                    <mat-autocomplete #autoInterviewer="matAutocomplete" (optionSelected)="selectedInterviewer($event)">
                        @for (interviewer of filteredInterviewers(); track interviewer) {
                        <mat-option [value]="interviewer.value"
                            (onSelectionChange)="selectedCandidateValue(interviewer.value)">{{interviewer.label}}
                        </mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>

                <!-- Dropdown Status field -->
                <mat-form-field class="flex-grow">
                    <mat-label>Status</mat-label>
                    <mat-select placeholder="Status" [(ngModel)]="statusSelectValues">
                        <mat-option [value]="undefined">All</mat-option>
                        <mat-option *ngFor="let status of statuses" [value]="status">
                            {{ status|scheduleStatus }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div class="w-1/6 create-button text-start">
            <button mat-raised-button color="primary" class="ml-4" (click)="handleSearch()">
                Search
            </button>
        </div>
    </div>
    <div *ngIf="!isInterviewer" class="flex w-full pb-2 items-center justify-end">
        <a mat-raised-button color="primary" [routerLink]="['/schedule/add-schedule' ]" class="ml-3">Add
            New</a>
    </div>
    <div class="table-content w-full h-full">
        <app-table table [rows]="schedules?.items" [columns]="cols" [currentPage]="schedules?.pageIndex"
            [pageSize]="schedules?.pageSize" [totalPage]="schedules?.totalPages" [totalRecord]="schedules?.totalRecord"
            [hasPreviousPage]="schedules?.hasPreviousPage" [hasNextPage]="schedules?.hasNextPage"
            (currentPageChange)="handleChangePage($event)" (pageSizeChange)="handlePageSizeChange($event)"
            (itemDetail)="handleRedirectDetail($event)" (itemEdit)="handleRedirectEdit($event)" [hasDetail]="true"
            [hasEdit]="true" [hasRecord]="schedules?.items.length>0" [isLoading]="loading"></app-table>
    </div>
</div>