<main class="bg-[#F1F5F9] overflow-auto h-full">
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5"
    >
      <!-- Card Item Start -->
      <div
        class="rounded-lg border border-stroke bg-white px-7 py-6 shadow-2xl dark:border-strokedark dark:bg-boxdark"
      >
        <div class="flex justify-between">
          <div>
            <span class="text-base">Candidates</span>
            <div class="text-title-md font-bold text-2xl mt-3">
              {{ cardItems[0].total }}
            </div>
          </div>
          <div
            class="flex h-16 w-16 items-center my-auto justify-center rounded-full bg-[#EFF2F7]"
          >
            <i class="ri-group-2-line text-3xl text-[#6577F3]"></i>
          </div>
        </div>

        <div class="mt-4 flex items-end justify-between">
          <span
            class="flex items-center gap-1 text-sm font-medium text-meta-3"
            [ngClass]="{
              'text-green-400': cardItems[0].percentage > 0,
              'text-red-400': cardItems[0].percentage < 0
            }"
          >
            <i
              *ngIf="cardItems[0].percentage > 0"
              class="fa-solid fa-arrow-up"
            ></i>
            <i
              *ngIf="cardItems[0].percentage < 0"
              class="fa-solid fa-arrow-down"
            ></i>
            {{ cardItems[0].percentage.toFixed(2) }}%
          </span>
          <span
            class="flex items-center text-sm font-medium text-meta-3 text-gray-400"
          >
            Since last month
          </span>
        </div>
      </div>
      <!-- Card Item End -->

      <!-- Card Item Start -->
      <div
        class="rounded-lg border border-stroke bg-white px-7 py-6 shadow-2xl dark:border-strokedark dark:bg-boxdark"
      >
        <div class="flex justify-between">
          <div>
            <span class="text-base">Jobs</span>
            <div class="text-title-md font-bold text-2xl mt-3">
              {{ cardItems[1].total }}
            </div>
          </div>
          <div
            class="flex h-16 w-16 items-center my-auto justify-center rounded-full bg-[#EFF2F7]"
          >
            <i class="ri-suitcase-line text-3xl text-[#6577F3]"></i>
          </div>
        </div>

        <div class="mt-4 flex items-end justify-between">
          <span
            class="flex items-center gap-1 text-sm font-medium text-meta-3"
            [ngClass]="{
              'text-green-400': cardItems[1].percentage > 0,
              'text-red-400': cardItems[1].percentage < 0
            }"
          >
            <i
              *ngIf="cardItems[1].percentage > 0"
              class="fa-solid fa-arrow-up"
            ></i>
            <i
              *ngIf="cardItems[1].percentage < 0"
              class="fa-solid fa-arrow-down"
            ></i>
            {{ cardItems[1].percentage.toFixed(2) }}%
          </span>
          <span
            class="flex items-center text-sm font-medium text-meta-3 text-gray-400"
          >
            Since last month
          </span>
        </div>
      </div>
      <!-- Card Item End -->
      <!-- Card Item Start -->
      <div
        class="rounded-lg border border-stroke bg-white px-7 py-6 shadow-2xl dark:border-strokedark dark:bg-boxdark"
      >
        <div class="flex justify-between">
          <div>
            <span class="text-base">Interviews</span>
            <div class="text-title-md font-bold text-2xl mt-3">
              {{ cardItems[2].total }}
            </div>
          </div>
          <div
            class="flex h-16 w-16 items-center my-auto justify-center rounded-full bg-[#EFF2F7]"
          >
            <i class="fa-regular fa-comment text-3xl text-[#6577F3]"></i>
          </div>
        </div>

        <div class="mt-4 flex items-end justify-between">
          <span
            class="flex items-center gap-1 text-sm font-medium text-meta-3"
            [ngClass]="{
              'text-green-400': cardItems[2].percentage > 0,
              'text-red-400': cardItems[2].percentage < 0
            }"
          >
            <i
              *ngIf="cardItems[2].percentage > 0"
              class="fa-solid fa-arrow-up"
            ></i>
            <i
              *ngIf="cardItems[2].percentage < 0"
              class="fa-solid fa-arrow-down"
            ></i>
            {{ cardItems[2].percentage.toFixed(2) }}%
          </span>
          <span
            class="flex items-center text-sm font-medium text-meta-3 text-gray-400"
          >
            Since last month
          </span>
        </div>
      </div>
      <!-- Card Item End -->

      <!-- Card Item Start -->
      <div
        class="rounded-lg border border-stroke bg-white px-7 py-6 shadow-2xl dark:border-strokedark dark:bg-boxdark"
      >
        <div class="flex justify-between">
          <div>
            <span class="text-base">Offers</span>
            <div class="text-title-md font-bold text-2xl mt-3">
              {{ cardItems[3].total }}
            </div>
          </div>
          <div
            class="flex h-16 w-16 items-center my-auto justify-center rounded-full bg-[#EFF2F7]"
          >
            <i class="ri-contract-line text-3xl text-[#6577F3]"></i>
          </div>
        </div>

        <div class="mt-4 flex items-end justify-between">
          <span
            class="flex items-center gap-1 text-sm font-medium text-meta-3"
            [ngClass]="{
              'text-green-400': cardItems[3].percentage > 0,
              'text-red-400': cardItems[3].percentage < 0
            }"
          >
            <i
              *ngIf="cardItems[3].percentage > 0"
              class="fa-solid fa-arrow-up"
            ></i>
            <i
              *ngIf="cardItems[3].percentage < 0"
              class="fa-solid fa-arrow-down"
            ></i>
            {{ cardItems[3].percentage.toFixed(2) }}%
          </span>
          <span
            class="flex items-center text-sm font-medium text-meta-3 text-gray-400"
          >
            Since last month
          </span>
        </div>
      </div>
      <!-- Card Item End -->
    </div>
    <div class="mt-16 flex justify-between">
      <div>
        <div class="flex justify-between mr-6">
          <h2>Displays the number of interviews performed</h2>
          <mat-form-field class="w-[20%]">
            <mat-label>Type</mat-label>
            <mat-select
              [value]="2"
              (selectionChange)="countInterviews($event.value)"
            >
              <mat-option [value]="0"> Week </mat-option>
              <mat-option [value]="1"> Month </mat-option>
              <mat-option [value]="2"> Year </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <canvas
          baseChart
          width="600"
          height="400"
          type="line"
          [data]="numberInterviews"
        >
        </canvas>
      </div>
      <div>
        <div class="flex justify-between mr-6">
          <h2>Displays the success rate interview</h2>
          <mat-form-field class="w-[20%]">
            <mat-label>Type</mat-label>
            <mat-select
              [value]="2"
              (selectionChange)="successCandidates($event.value)"
            >
              <mat-option [value]="0"> Week </mat-option>
              <mat-option [value]="1"> Month </mat-option>
              <mat-option [value]="2"> Year </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="h-96 flex justify-end">
          <canvas
            baseChart
            width="400"
            height="300"
            type="pie"
            [data]="successInterviews"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</main>
