<div class="add-offer-wrapper pt-[40px] h-full">
  <div class="relative overflow-auto offer-detail-container h-[90%] rounded shadow-2xl">
    <div class="offer-detail-header font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky z-20">
      ADD CANDIDATE
    </div>
    <form class="bg-white h-[100%] lg:p-5" [formGroup]="candidateForm" (ngSubmit)="handleSubmit()"
      enctype="multipart/form-data">
      <div>
        <h2>I. Personal information</h2>
        <div class="lg:flex">
          <div class="md:w-full lg:w-1/2">
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Full name <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Type of name</mat-label>
                  <input matInput formControlName="fullName" />
                  <mat-error *ngIf="candidateForm.get('fullName').hasError('required')">
                    Full name is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">D.O.B</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label><mat-hint>MM/DD/YYYY</mat-hint></mat-label>
                  <input matInput [matDatepicker]="contractPeriodFrom" formControlName="dob" />
                  <mat-datepicker-toggle matIconSuffix [for]="contractPeriodFrom"></mat-datepicker-toggle>
                  <mat-datepicker #contractPeriodFrom></mat-datepicker>
                  <mat-error *ngIf="candidateForm.get('dob').hasError('required')">
                    Date of birth is required.
                  </mat-error>
                  <mat-error *ngIf="
                      candidateForm.get('dob').hasError('matDatepickerParse')
                    ">
                    Invalid date format.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">Phone number</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Type of number</mat-label>
                  <input matInput formControlName="phoneNumber" />
                  <mat-error *ngIf="
                      candidateForm.get('phoneNumber').hasError('required')
                    ">
                    Phone number is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="md:w-full lg:w-1/2">
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Email <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Type an email</mat-label>
                  <input matInput formControlName="email" />
                  <mat-error *ngIf="candidateForm.get('email').hasError('required')">
                    Email is required.
                  </mat-error>
                  <mat-error *ngIf="candidateForm.get('email').hasError('email')">
                    Invalid email format
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">Address</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Type an address</mat-label>
                  <input matInput formControlName="address" />
                  <mat-error *ngIf="candidateForm.get('address').hasError('required')">
                    Address is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Gender <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Select a gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender.id">
                      {{ gender.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h2>II. Professsional information</h2>
        <div class="lg:flex">
          <div class="md:w-full lg:w-1/2">
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">CV attachment</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>CV attachment</mat-label>
                  <input type="text" readonly matInput formControlName="nameResume" (click)="fileInput.click()" />
                  <input type="file" hidden accept="application/pdf" #fileInput
                    (change)="handleFileInputChange(fileInput)" />
                  <button mat-icon-button matTextSuffix (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <mat-error *ngIf="candidateForm.get('resume').hasError('required')">
                    CV attachment is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Position <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Select a position</mat-label>
                  <mat-select formControlName="positionId">
                    <mat-option *ngFor="let position of positions" [value]="position.id">
                      {{ position.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="candidateForm.get('positionId').hasError('required')">
                    Position is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Skills <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Select skills</mat-label>
                  <mat-select formControlName="skillsId" multiple>
                    <mat-option *ngFor="let skill of skills" [value]="skill.id">
                      {{ skill.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="candidateForm.get('skillsId').hasError('required')">
                    Skills are required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Recruiter <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Recruiter name</mat-label>
                  <mat-select formControlName="accountId">
                    <mat-option *ngFor="let account of accounts" [value]="account.id">
                      {{ account.fullName }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="candidateForm.get('accountId').hasError('required')">
                    Recruiter is required.
                  </mat-error>
                </mat-form-field>
                <div>
                  <button mat-raised-button type="button" color="primary" class="font-bold block" (click)="assignMe()">
                    ASSIGN ME
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="md:w-full lg:w-1/2">
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">Note</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Type a note</mat-label>
                  <input matInput formControlName="note" />
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Status <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Select a status</mat-label>
                  <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                      {{ status.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">Year of Experience</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Type a number</mat-label>
                  <input matInput type="number" min="0" max="100" formControlName="yoe" />
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex">
              <div class="font-bold lg:w-1/5 my-auto">
                Highest level <i class="text-red-500">*</i>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[80%]">
                  <mat-label>Select highest level</mat-label>
                  <mat-select formControlName="highestLevelId">
                    <mat-option *ngFor="let highestLevel of highestLevels" [value]="highestLevel.id">
                      {{ highestLevel.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="
                      candidateForm.get('highestLevelId').hasError('required')
                    ">
                    Highest level is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-center py-6">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="warn" class="ml-10" (click)="handleCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>