<button mat-button [matMenuTriggerFor]="notify">
    <i class="fa-solid fa-bell"></i>
    <sup *ngIf="!isAllRead" class="text-rose-600">
        <i class="fa-solid fa-circle"></i>
    </sup>
</button>

<mat-menu #notify="matMenu" xPosition="before" class="notify-list w-full h-80">
    <ng-container *ngIf="isHaveNotification; else noNotifications">
        <div class="notify-list-item p-3" *ngFor="let notifi of notificaionItems">
            <a [href]="notifi.urlRedirect" (click)="MarkAsRead(notifi.id)">
                <div class="flex items-center">
                    <p *ngIf="!notifi.isRead" class="text-rose-600 text-xs">
                        <i class="fa-solid fa-circle"></i>
                    </p>
                    <p class="font-bold">{{notifi.title}}</p>
                </div>
                <p class="text-sm">{{notifi.content}}</p>
                <div class="flex justify-end text-slate-400 text-xs">{{notifi.createdAt}}</div>
                <mat-divider></mat-divider>
            </a>
        </div>
    </ng-container>
    <ng-template #noNotifications>
        <div class="notify-list-item p-3 flex justify-center text-sm">
            You don't have any notifications.
        </div>
    </ng-template>
</mat-menu>