<div mat-dialog-content class="text-center">
  <p>Are you sure you want to cancel this interview?</p>
</div>
<div class="flex justify-center gap-x-10">
  <button type="button" (click)="cancelInterview()"
    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
    Yes</button>
  <button type="button" (click)="closeDialog()"
    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
    No</button>
</div>