<div class="h-full overflow-auto">
  <div class="w-3/5 searchbar flex items-center">
    <mat-form-field class="flex-grow">
      <mat-label>Search</mat-label>
      <input matInput class="h-1" name="search" [(ngModel)]="searchText" />
    </mat-form-field>
    <mat-form-field class="ml-4">
      <mat-label>Select a status</mat-label>
      <mat-select placeholder="Status" [(ngModel)]="selectedStatus">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let status of statuses" [value]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="ml-4 mb-5" (click)="onSearch(searchText, selectedStatus)">
      Search
    </button>
  </div>
  <div *ngIf="[roles.admin, roles.hr, roles.manager].includes(userRole)" class="flex w-full py-2">
    <div class="w-4/5"></div>
    <div class="w-1/5 create-button text-right">
      <button mat-raised-button color="primary" [routerLink]="['/candidate/add-candidate']">
        Add new
      </button>
    </div>
  </div>
  <div class="table-content w-full">
    <app-table table [rows]="candidates?.items" [columns]="cols" [currentPage]="candidates?.pageIndex"
      [pageSize]="candidates?.pageSize" [totalPage]="candidates?.totalPages" [totalRecord]="candidates?.totalRecord"
      [hasPreviousPage]="candidates?.hasPreviousPage" [hasNextPage]="candidates?.hasNextPage"
      (currentPageChange)="handleChangePage(searchText, selectedStatus, $event)" (pageSizeChange)="
        handlePageSizeChange(searchText, selectedStatus, $event)
      " (itemDetail)="handleRedirectDetail($event)" (itemEdit)="handleRedirectEdit($event)"
      (itemDelete)="openConfirmDialog($event)" [hasDetail]="true"
      [hasEdit]="[roles.admin, roles.hr, roles.manager].includes(userRole)"
      [hasDelete]="[roles.admin, roles.hr, roles.manager].includes(userRole)" [hasRecord]="candidates?.items.length > 0"
      [isLoading]="loading"></app-table>
  </div>
</div>