<div class="pt-[40px] h-full ">
    <div class="flex w-full pb-2 items-center justify-end">
        <a mat-raised-button color="primary" class="ml-3">Send reminder</a>
    </div>
    <div class="relative overflow-auto h-[90%] rounded shadow-2xl">
        <div class="font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky z-20">
            Interview schedule details
        </div>
        <form [formGroup]="scheduleForm" (ngSubmit)="handleUpdateResult()">
            <div class="bg-white h-[100%] px-5 py-5">
                <div class="grid grid-cols-2 gap-x-10 gap-y-5">

                    <!-- Title -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold">
                            Schedule title:
                        </div>
                        <div class="w-full col-span-3">
                            <p>{{schedule?.title}}</p>
                        </div>
                    </div>
                    <!-- End Title -->

                    <!-- Job -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold">
                            Job:
                        </div>
                        <div class="w-full col-span-3">
                            <p>{{schedule?.job.title}}</p>
                        </div>
                    </div>
                    <!-- End job -->

                    <!-- Candidate name-->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold">
                            Candidate name:
                        </div>
                        <div class="w-full col-span-3">
                            <p>{{schedule?.candidate.fullName}}</p>
                        </div>
                    </div>
                    <!-- End candidate -->

                    <!-- Interviewer -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold">
                            Interviewer:
                        </div>
                        <div class="w-full col-span-3">
                            <p>{{interviewers}}</p>
                        </div>
                    </div>
                    <!-- End interviewer -->

                    <!-- Schedule time -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold">
                            Schedule time:
                        </div>
                        <div class="w-full col-span-3">
                            <div class="w-full">
                                <p>{{schedule?.scheduleDate}}</p>
                                <p>From {{schedule?.startTime}} To {{schedule?.endTime}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Schedule time -->

                    <!-- Location -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold">
                            Location:
                        </div>
                        <div class="w-full col-span-3">
                            <p>{{schedule?.location? schedule?.location : "N/A"}}</p>
                        </div>
                    </div>
                    <!-- End Location -->

                    <!-- Note -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold">
                            Note:
                        </div>
                        <div class="w-full col-span-3">
                            <mat-form-field class="w-full">
                                <mat-label>Note</mat-label>
                                <textarea formControlName="note" rows="5"
                                    matInput>{{schedule?.note? schedule?.note : null}}</textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- End Note -->

                    <div class="flex flex-col gap-y-6">
                        <!-- Recruiter name -->
                        <div class="grid grid-cols-4 gap-2">
                            <div class="font-bold">
                                Recruiter owner:
                            </div>
                            <div class="w-full col-span-3 gap-0">
                                <p>{{schedule?.recruiterOwner.userName}}</p>
                            </div>
                        </div>
                        <!-- End Recruiter name -->

                        <!-- Meeting Id -->
                        <div class="grid grid-cols-4 gap-2">
                            <div class="font-bold">
                                Meeting ID:
                            </div>
                            <div class="w-full col-span-3">
                                <p>{{schedule?.meetingId? schedule?.meetingId :"N/A"}}</p>
                            </div>
                        </div>
                        <!-- Meeting Id -->

                        <!-- Result -->
                        <div class="grid grid-cols-4 gap-2">
                            <div class="font-bold">
                                Result
                                <span class="text-rose-600">*</span>
                            </div>
                            <div class="w-full col-span-3">
                                <!-- Dropdown Status field -->
                                <mat-form-field class="w-full">
                                    <mat-label>
                                        Result
                                    </mat-label>
                                    <mat-select formControlName="result">
                                        <mat-option [value]="true">Passed</mat-option>
                                        <mat-option [value]="false">Failed</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- Validation message -->
                                <div class="text-rose-600 "
                                    *ngIf="scheduleForm.get('result').touched &&scheduleForm.get('result').errors?.['required']">
                                    Choose a result to submit
                                </div>
                            </div>
                        </div>
                        <!-- End Result -->

                        <!-- Status -->
                        <div class="grid grid-cols-4 gap-2">
                            <div class="font-bold">
                                Status:
                            </div>
                            <div class="w-full col-span-3">
                                {{schedule?.status|scheduleStatus}}
                            </div>
                        </div>
                        <!-- End Status -->

                    </div>
                </div>
                <div>
                    <div class="flex justify-center mt-7">
                        <button type="submit" mat-raised-button color="primary" class="ml-3"
                            (click)="scheduleForm.markAllAsTouched()">Submit
                            result</button>
                        <a mat-raised-button (click)="goBack()" color="warn" class="ml-3">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>