<mat-card>
  <p mat-card-title class="pl-1">Import Job</p>

  <mat-card-content>
    <mat-form-field style="width: 100%">
      <mat-label>File matInput</mat-label>
      <button mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input
        type="text"
        readonly
        matInput
        [formControl]="display"
        (click)="f_input.click()"
      />
      <input
        type="file"
        hidden
        #f_input
        (change)="handleFileInputChange(f_input.files)"
      />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions align="end" class="flex gap-2">
    <button
      mat-stroked-button
      color="primary"
      (click)="downloadExcelTemplate()"
    >
      Excel Template
    </button>
    <button
      mat-stroked-button
      color="primary"
      [disabled]="display.invalid"
      (click)="handleSubmit()"
    >
      Save
    </button>
  </mat-card-actions>
  <div *ngIf="!isValidExcel" class="p-2 w-full h-fit rounded">
    <div class="flex items-center justify-between gap-2 h-6">
      <div class="flex items-center justify-start gap-2">
        <p class="text-green-600">
          Valid : <strong>{{ numOfItemValid }}</strong>
        </p>
        <p class="text-red-600">
          Error : <strong>{{ numOfItemInvalid }}</strong>
        </p>
      </div>
      <div class="flex items-center justify-end gap-2">
        <p class="text-green-500">{{ fileExcelError }}</p>
        <p
          class="p-1 rounded border bg-cyan-800 text-white w-fit h-auto cursor-pointer"
          (click)="download()"
        >
          Download file excel error
        </p>
      </div>
    </div>

    <div class="overflow-auto h-[300px]">
      <table class="bg-white border-none w-full relative">
        <thead class="sticky top-0 left-0">
          <tr>
            <th>Job Title</th>
            <th>Required Skills</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Level</th>
            <th>Benefit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of listItem"
            [ngClass]="{
              valid: item.isValid === true,
              error: item.isValid === false
            }"
          >
            <td>{{ item.title }}</td>
            <td>{{ item.skills }}</td>
            <td>{{ item.startDate }}</td>
            <td>{{ item.endDate }}</td>
            <td>{{ item.levels }}</td>
            <td>{{ item.benefits }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
