<main id="content" role="main" style="background-image: url('../../../../../assets/images/login-image.jpeg')"
    class="w-full flex flex-row justify-center items-center h-full  bg-cover ">
    <div class="mt-7 bg-white  rounded-xl shadow-2xl w-[500px] h-[300px]">
        <div class="p-4 sm:p-7">
            <div class="text-center">
                <h1 class="block text-2xl font-bold text-gray-800 font-bold">Forgot password?</h1>
                <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                    Remember your password?
                    <a class="text-blue-600 decoration-2 hover:underline font-medium" [routerLink]="['/login']">
                        Login here
                    </a>
                </p>
            </div>

            <div class="mt-5">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="grid  gap-y-4">
                        <div>
                            <label for="email" class="block text-sm font-bold ml-1 mb-2 ">Email
                                address</label>
                            <div class="">
                                <input type="email" id="email" formControlName="email"
                                    class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                                    [ngClass]="{'is-invalid': forgotPasswordForm.get('email').invalid && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)}"
                                    required aria-describedby="email-error">
                            </div>
                            <span
                                *ngIf="forgotPasswordForm.get('email').invalid && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)"
                                class="text-wrap text-red-600 mt-2" id="email-error">Please include a valid
                                email address
                                so we can get back to you</span>
                        </div>
                        <button type="submit"
                            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Reset
                            password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>