<div class="flex gap-x-6">
    <div class="flex">
        <input type="radio" name="hs-radio-group"
            class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
            id="hs-radio-group-1" checked="">
        <label for="hs-radio-group-1" class="text-sm text-gray-500 ms-2 dark:text-neutral-400">Apple</label>
    </div>

    <div class="flex">
        <input type="radio" name="hs-radio-group"
            class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
            id="hs-radio-group-2">
        <label for="hs-radio-group-2" class="text-sm text-gray-500 ms-2 dark:text-neutral-400">Pear</label>
    </div>
</div>