<div
  class="flex w-full py-2"
>
  <div class="w-4/5"></div>
  <div class="w-1/5 create-button text-right">
    <button mat-raised-button [color]="user?.status === 'Activate' ? 'warn' : 'primary'" 
    (click)="openConfirmDialog()">
      {{ user?.status === 'Activate' ? 'DeActivate' : 'Activate' }}
    </button>
  </div>
</div>
<div class="offer-detail-wrapper h-full">
  <div
    class="relative overflow-auto offer-detail-container h-[90%] rounded shadow-2xl"
  >
    <div
      class="offer-detail-header font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky"
    >
      USER DETAIL
    </div>
    <div class="p-5">
      <div>
        <h2>I. Personal information</h2>
        <div class="lg:flex bg-white h-[100%]">
          <div class="mds:w-full md:w-1/2">
            <dl class="lg:flex">
              <dt class="font-bold lg:w-1/5">Full name</dt>
              <dd class="lg:w-4/5 ml-3">{{ user?.fullName }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">D.O.B</dt>
              <dd class="lg:w-4/5 ml-3">{{ getFormattedDate() }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Phone number</dt>
              <dd class="lg:w-4/5 ml-3">{{ user?.phoneNumber }}</dd>
            </dl>
            <dl class="lg:flex my-5">
                <dt class="font-bold lg:w-1/5">Role</dt>
                <dd class="lg:w-4/5 ml-3">{{ user?.roleName }}</dd>
            </dl>
            <dl class="lg:flex my-5">
                <dt class="font-bold lg:w-1/5">Status</dt>
                <dd class="lg:w-4/5 ml-3">{{ user?.status }}</dd>
            </dl>
          </div>
          <div class="md:w-full lg:w-1/2">
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Email</dt>
              <dd class="lg:w-4/5 ml-3">{{ user?.email }}</dd>
            </dl>
            <dl class="lg:flex my-5">
                <dt class="font-bold lg:w-1/5">Address</dt>
                <dd class="lg:w-4/5 ml-3">{{ user?.address }}</dd>
            </dl>
            <dl class="lg:flex my-5">
                <dt class="font-bold lg:w-1/5">Gender</dt>
                <dd class="lg:w-4/5 ml-3">{{ user?.gender }}</dd>
            </dl>
            <dl class="lg:flex my-5">
                <dt class="font-bold lg:w-1/5">Deparment</dt>
                <dd class="lg:w-4/5 ml-3">{{ user?.departmentName }}</dd>
            </dl>
            <dl class="lg:flex my-5">
                <dt class="font-bold lg:w-1/5">Note</dt>
                <dd class="lg:w-4/5 ml-3">{{ user?.note }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
