<div class="add-offer-wrapper pt-[40px] h-full">
  <div
    class="relative overflow-auto offer-detail-container h-[90%] rounded shadow-2xl"
  >
    <div
      class="offer-detail-header font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky z-20"
    >
      ADD JOB
    </div>
    <div class="bg-white h-[100%] px-3 py-3">
      <form [formGroup]="jobForm" (ngSubmit)="handleSubmit()">
        <div class="lg:flex">
          <div class="md:w-full lg:w-1/2 lg:p-5">
            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">
                Job title <span class="text-red-600">*</span>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[90%]">
                  <input formControlName="title" matInput />
                  <mat-error *ngIf="jobForm.get('title').hasError('required')">
                    Title is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">
                Start Date <span class="text-red-600">*</span>
              </div>
              <div class="lg:w-4/5 ml-4 relative">
                <mat-form-field class="w-[90%]">
                  <mat-label>DD/MM/YY</mat-label>
                  <input
                    matInput
                    [matDatepicker]="pickerStartDate"
                    formControlName="startDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerStartDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerStartDate></mat-datepicker>
                  <mat-error
                    *ngIf="jobForm.get('startDate').hasError('required')"
                  >
                    Start date is required
                  </mat-error>
                </mat-form-field>
                <div
                  *ngIf="isDateLessThanError()"
                  class="text-red-500 absolute bottom-0 left-0"
                >
                  The start date must be before the end date.
                </div>
              </div>
            </div>

            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">Salary Range</div>
              <div class="lg:w-4/5 w-4/5 ml-4 flex gap-3 relative">
                <div class="lg:w-2/5 flex gap-2">
                  <p class="flex justify-end items-center">From</p>
                  <mat-form-field class="w-full lg:w-4/5">
                    <input
                      formControlName="salaryMin"
                      matInput
                      type="number"
                      (keydown)="preventEKey($event)"
                    />
                  </mat-form-field>
                </div>
                <div class="lg:w-2/5 flex gap-2">
                  <p class="flex justify-end items-center">To</p>
                  <mat-form-field class="w-full lg:w-4/5">
                    <input
                      formControlName="salaryMax"
                      matInput
                      type="number"
                      (keydown)="preventEKey($event)"
                    />
                  </mat-form-field>
                </div>
                <mat-error
                  class="absolute bottom-0 left-0"
                  *ngIf="
                    jobForm.get('salaryMin').hasError('min') &&
                    !jobForm.get('salaryMax').hasError('min')
                  "
                >
                  Salary from must be greater than 0
                </mat-error>
                <mat-error
                  class="absolute bottom-0 left-0"
                  *ngIf="
                    jobForm.get('salaryMax').hasError('min') &&
                    !jobForm.get('salaryMin').hasError('min')
                  "
                >
                  Salary to must be greater than 0
                </mat-error>
                <mat-error
                  class="absolute bottom-0 left-0"
                  *ngIf="
                    jobForm.get('salaryMax').hasError('min') &&
                    jobForm.get('salaryMin').hasError('min')
                  "
                >
                  Salary must be greater than 0
                </mat-error>
                <div
                  *ngIf="isSalaryLessThanError()"
                  class="text-red-500 absolute bottom-0 left-0"
                >
                  Salary from must be less than salary to
                </div>
                <div
                  *ngIf="isSalarySameNullOrRequire()"
                  class="text-red-500 absolute bottom-0 left-0"
                >
                  Both salary fields must be filled or both must be empty
                </div>
              </div>
            </div>

            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">Working address</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[90%] lg:mb-5">
                  <input formControlName="address" matInput />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="md:w-full lg:w-1/2 lg:p-5">
            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">
                Skills<span class="text-red-600">*</span>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[90%]">
                  <mat-label>Select Skills</mat-label>
                  <mat-select multiple formControlName="skills">
                    <!-- (selectionChange)="handleChangeCandidate($event.value)" -->
                    <mat-option
                      *ngFor="let skill of skills"
                      [value]="skill.id"
                      >{{ skill.value }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="jobForm.get('skills').hasError('required')">
                    Skill is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">
                End Date <span class="text-red-600">*</span>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[90%]">
                  <mat-label>DD/MM/YY</mat-label>
                  <input
                    matInput
                    [matDatepicker]="pickerEndDate"
                    formControlName="endDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerEndDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerEndDate></mat-datepicker>
                  <mat-error
                    *ngIf="jobForm.get('endDate').hasError('required')"
                  >
                    End date is required
                  </mat-error>
                  <!-- <mat-error *ngIf="jobForm.hasError('dateLessThan')">
                    End date should be greater than start date
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">
                Benefits<span class="text-red-600">*</span>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[90%]">
                  <mat-label>Select Benefits</mat-label>
                  <mat-select multiple formControlName="benefits">
                    <!-- (selectionChange)="handleChangeCandidate($event.value)" -->
                    <mat-option
                      *ngFor="let benefit of benefits"
                      [value]="benefit.id"
                      >{{ benefit.value }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="jobForm.get('benefits').hasError('required')"
                    >Benefit is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="lg:flex my-3">
              <div class="font-bold lg:w-1/5 leading-[4]">
                Levels<span class="text-red-600">*</span>
              </div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[90%]">
                  <mat-label>Select Levels</mat-label>
                  <mat-select multiple formControlName="levels">
                    <!-- (selectionChange)="handleChangeCandidate($event.value)" -->
                    <mat-option
                      *ngFor="let level of levels"
                      [value]="level.id"
                      >{{ level.value }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="jobForm.get('levels').hasError('required')"
                    >Level is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="lg:flex my-3 lg:mb-8">
              <div class="font-bold lg:w-1/5 leading-[4]">Desciption</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[90%]">
                  <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center gap-8 py-6">
          <button mat-raised-button color="primary" type="submit">
            SUBMIT
          </button>
          <button (click)="handleCancel()" mat-raised-button color="warn">
            CANCEL
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
