<div
  *ngIf="[roles.admin, roles.manager, roles.hr].includes(userRole)"
  class="flex w-full py-2"
>
  <div class="w-4/5"></div>
  <div class="w-1/5 create-button text-right">
    <button mat-raised-button color="warn" (click)="openConfirmDialog()">
      Ban candidate
    </button>
  </div>
</div>
<div class="offer-detail-wrapper h-full">
  <div
    class="relative overflow-auto offer-detail-container h-[90%] rounded shadow-2xl"
  >
    <div
      class="offer-detail-header font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky"
    >
      CANDIDATE DETAIL
    </div>
    <div class="p-5">
      <div>
        <h2>I. Personal information</h2>
        <div class="lg:flex bg-white h-[100%]">
          <div class="mds:w-full md:w-1/2">
            <dl class="lg:flex">
              <dt class="font-bold lg:w-1/5">Full name</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.fullName }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">D.O.B</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.dob | date }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Phone number</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.phoneNumber }}</dd>
            </dl>
          </div>
          <div class="md:w-full lg:w-1/2">
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Email</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.email }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Address</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.address }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Gender</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.gender | gender }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div>
        <h2>II. Professsional information</h2>
        <div class="lg:flex bg-white h-[100%]">
          <div class="mds:w-full md:w-1/2">
            <dl class="lg:flex">
              <dt class="font-bold lg:w-1/5">CV attachment</dt>
              <dd class="lg:w-4/5 ml-3" (click)="downloadCv(candidate?.resume)">
                <button>
                  CV-Candidate-FPT<i class="fa-solid fa-paperclip"></i>
                </button>
              </dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Current Position</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.position.name }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5 my-auto">Skills</dt>
              <dd class="lg:w-4/5 ml-3">
                <ng-container
                  *ngIf="candidate?.skills && candidate.skills.length > 0"
                >
                  <button
                    class="mr-2 px-2 py-1 rounded-sm bg-gray-100"
                    *ngFor="let skill of candidate?.skills"
                  >
                    {{ skill.value }}
                  </button>
                </ng-container>
              </dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Recruiter</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.phoneNumber }}</dd>
            </dl>
          </div>
          <div class="md:w-full lg:w-1/2">
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Status</dt>
              <dd class="lg:w-4/5 ml-3">
                {{ candidate?.status | candidateStatus }}
              </dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Year of Experience</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.yoe }}</dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Highest level</dt>
              <dd class="lg:w-4/5 ml-3">
                <ng-container *ngIf="candidate?.highestLevel">
                  {{ candidate?.highestLevel.value }}
                </ng-container>
              </dd>
            </dl>
            <dl class="lg:flex my-5">
              <dt class="font-bold lg:w-1/5">Note</dt>
              <dd class="lg:w-4/5 ml-3">{{ candidate?.note }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
