.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.title {
  margin-left: 10px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 10px;
}
.user-info p {
  margin: 0;
  text-align: right;
}
.role {
  font-size: 12px;
}
.logout-btn button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
}
