<div class="h-full  overflow-auto">

    <div class="flex w-full  py-5 items-center">
        <div class="w-4/6 searchbar">
            <mat-form-field class="flex-grow">
                <mat-label>Search</mat-label>
                <input matInput class="h-1" name="search" [(ngModel)]="searchText" />
            </mat-form-field>
            <mat-form-field class="ml-4">
                <mat-label>Select a status</mat-label>
                <mat-select placeholder="Status" [(ngModel)]="selectedStatus">
                    <mat-option [value]="undefined">All</mat-option>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{ status|offerStatus }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="ml-4">
                <mat-label>Select a department</mat-label>
                <mat-select placeholder="Department" [(ngModel)]="selectedDepartment">
                    <mat-option [value]="undefined">All</mat-option>
                    <mat-option *ngFor="let department of departmentNames" [value]="department.value">
                        {{ department.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" class="ml-4 " (click)="handleSearch()">
                Search
            </button>
        </div>
        <div class="w-2/6 create-button text-right">

            <button mat-raised-button color="accent" (click)="openExportDialog()" class="mx-3">EXPORT EXCEL
            </button>
            <a mat-raised-button color="primary" [routerLink]="['/offer/add-offer' ]" class="ml-3">ADD
                OFFER</a>
        </div>
    </div>
    <div class="table-content w-full">
        <app-table table [rows]="offers?.items" [columns]="cols" [currentPage]="offers?.pageIndex"
            [pageSize]="offers?.pageSize" [totalPage]="offers?.totalPages" [totalRecord]="offers?.totalRecord"
            [hasPreviousPage]="offers?.hasPreviousPage" [hasNextPage]="offers?.hasNextPage"
            (currentPageChange)="handleChangePage($event)" (pageSizeChange)="handlePageSizeChange($event)"
            (itemDetail)="handleRedirectDetail($event)" (itemEdit)="handleRedirectEdit($event)" [hasDetail]="true"
            [hasEdit]="true" [hasRecord]="offers?.items.length>0" [isLoading]="loading"></app-table>
    </div>
</div>